.table {
  margin-top: 50px;
  .mat-mdc-table {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
  }
  ::ng-deep {
    div.mdc-checkbox__background {
      border-radius: 4px;
      width: 24px;
      height: 24px;
      margin: auto;
      background-color: white !important;
      color: rgba(9, 35, 96, 1) !important;
      border-color: rgba(162, 169, 177, 1) !important;

      .mdc-checkbox__mixedmark {
        border-color: rgba(9, 35, 96, 1) !important;
      }
      svg {
        color: inherit !important;
      }
    }

    thead{
      background: rgba(218, 32, 50, 1);
      .mat-mdc-header-cell{
        font-family: Moscow Sans;
        color: white;
        font-size: 16px;
        font-weight: 600;
        line-height: 18px;
        text-align: center;
      }
    }
    tbody {
      td {
        font-size: 12px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        span {
          font-family: Moscow Sans;
          font-size: 14px;
          font-weight: 300;
          line-height: 18px;
          text-align: center;
        }
        .block {
          color: #FF001F;
        }
        .active {
          color: #25B553;
        }
      }
    }
  }
  ::ng-deep {
    .mat-mdc-paginator-container{
      justify-content: flex-start;
    }
  }
  &__pagination {
    padding: 12px 40px;
    display: flex;
    align-items: center;
    background: white;
    ::ng-deep{
      .mdc-icon-button {
        display: none;
      }
    }
    &-count {
      font-family: Moscow Sans;
      font-size: 14px;
      font-weight: 300;
      line-height: 18px;
      text-align: center;
    }
  }
}
