<header class="header">
  <div class="header__user">
    <span class="header__user-icon">
      <img src="assets/img/user-avatar.svg" alt="Avatar">
    </span>
    <div class="header__user-name">
      <div>
        <h2>Иванов</h2>
        <h2>Администратор</h2>
      </div>
      <div>
        <mat-icon aria-hidden="false" [matMenuTriggerFor]="menu" fontIcon="arrow_drop_down"></mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Empty</button>
        </mat-menu>
      </div>
    </div>
  </div>
  <div class="header__hamburger">
    <button mat-button (click)="openLeftBar()">
      <img src="assets/img/hamburger-icon.svg" alt="Icon">
    </button>
  </div>
</header>
